.home-layout {
    width: 100%;
    height: 100%;
    display: flex;
}

.home-layout__aside {
    width: 15vw;
    max-width: 320px;
    min-width: 240px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.home-aside-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    &__img {
        height: 100%;
    }
}


.home-aside-avatar {
    display: flex;
    align-items: center;
    padding-block: 1rem;
    padding-left: 0.5rem;
    gap: 1rem;
    &__img {
        height: 4rem;
        width: 4rem;
    }
    &__name {
        font-weight: bold;
    }
}


.home-layout__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}