@import '../../scss/media';

.application-layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.application-layout-aside {
    width: 15vw;
    max-width: 320px;
    min-width: 240px;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
    }
    &__avatar {
        display: flex;
        align-items: center;
        padding-block: 1rem;
        padding-left: 0.5rem;
        gap: 1rem;
        &__img {
            height: 4rem;
            width: 4rem;
        }
        &__name {
            font-weight: bold;
        }
    }
}

.application-layout-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

@include media-breakpoint-down(md) { 
    .application-layout {
        .application-layout-aside {
            display: none;
        }
    }
}