.keyword-table {
    &__row {
        input[type="checkbox"] {
            cursor: pointer;
        }
    }

    &-action-icon {
        cursor: pointer;
        &:hover {
            stroke: var(--bs-primary);
        }
    }

    &__functional-col {
        width: 2rem;
    }

    &__loading-col {
        width: 100%;
        height: 2rem;
        user-select: none;
    }

    &__empty-col {
        display: grid;
        place-items: center;
        padding-block: 1rem;
        width: 100%;
        height:  100%;
        user-select: none;
        &__text {
            margin-top: 0.5rem;
            color: lightgray;
        }
    }

    &-chip {
        padding: 0.5rem;
        &--stat {
            display: inline-flex;
            align-items: center;
            gap: 0.25rem;
            padding-inline: 0.75rem;
            margin-right: 0.5rem;
        }
        &--outlined {
            background-color: transparent !important;
            border: 1px solid var(--bs-dark);
            color: var(--bs-dark);
        }
    }
}

.keyword-action-panel {
    display: flex;
    align-items: center;
    margin-block: 1rem;
    gap: 1rem;


    .keyword-action-panel__input {
        max-width: 400px;
    }

    .keyword-file-upload {
        &__name {
            font-size: 0.75rem;
            user-select: none;
        }
        &__icon {
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%);
            stroke: var(--bs-primary);
        }
    }

}




.keyword-offcanvas {

    .offcanvas-body {
        padding-left: 6px;
    }


    &__title {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
    }

    .label {
        display: inline-flex;
        align-items: center;
        font-size: 1rem;
        font-weight: bold;
        color: var(--bs-primary);
    }

    .html-view {
        margin-left: 4px;
        position: relative;
        display: block;
        max-height: 50vh;
        width: 100%;
        overflow: auto;
        cursor: not-allowed;
        user-select: none;
        border-radius: 4px;
        outline: 2px solid var(--bs-primary);
        z-index: 1;
        .mask {
            position: absolute;
            inset: 0;
            cursor: not-allowed;
            user-select: none;
            z-index: 2;
        }
    }

    .link-list {
        max-height: 50vh;
        overflow-y: auto;
        overflow-x: hidden;
        &__anchor {
            font-size: 0.75rem;
        }
    }
}